:root {
  --primary: #f4f9ef; /* Soft green for a light, fresh background */
  --secondary: #005b96; /* Deep blue for contrast and depth */
  --tertiary: #f2b138; /* Warm yellow for highlights and buttons */
  --light: #ffffff;
  --dark: #273238; /* Dark slate for text */
  --title-height: 50px;
}

/* General Body Styles */
html,
body {
  scroll-behavior: smooth;
  background-color: var(--primary);
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

/* NAV BAR */
.nav-transparent {
  background-color: rgba(0, 91, 150, 0.8) !important;
}
nav .brand-logo {
  color: var(--light);
  font-size: 2rem;
  margin-left: 1rem;
}

/* SLIDESHOW */
.caption {
  color: var(--dark);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.slider,
.slides {
  top: 0px;
}

/* SEARCH ITEMS */
.input-field {
  color: var(--dark);
}
.input-field .prefix.active {
  color: var(--tertiary);
}
.btn-search {
  background-color: var(--secondary);
  color: var(--light);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}
.btn-search:hover {
  background-color: var(--tertiary);
  color: var(--dark);
}

/* Form and Input Enhancements */
.input-field input[type="text"]:focus + label {
  color: var(--secondary);
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid var(--secondary);
  box-shadow: 0 1px 0 0 var(--secondary);
}

/* CARDS */
.card-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 20px;
}
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* Each card takes full width of the container */
  margin: 10px;
  height: 350px;
  background-color: var(--light);
}
.card-titles {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: white; /* Ensures the text is visible against the dark background */
  z-index: 2; /* Ensures the text is on top of the overlay */
  font-size: clamp(0.8rem, 2.5vw, 1.6em);
  /*padding: 5px 10px;
  color: var(--dark); */
}
.card-image {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures the pseudo-element does not spill outside the container */
}
.card-img {
  width: 100%; /* Sets the width to occupy the full width of the container */
  height: 200px; /* Sets a fixed height */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  display: block; /* Makes sure the image takes up the entire space of its container */
  border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

.card-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px; /* Start from the bottom of the image */
  height: calc(var(--title-height) + 5px); /* Height of the tint overlay */
  background: rgba(0, 0, 0, 0.6); /* Dark semi-transparent overlay */
  z-index: 1; /* Ensures the overlay is above the image but below the text */
}

.card-content {
  color: var(--dark);
  background-color: var(--light);
}

.dropdown-header, .accordion-header {
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.dropdown-header:hover, .accordion-header:hover {
  background-color: #ddd;
}

.dropdown-content, .accordion-content {
  display: none;
  padding: 10px;
  background-color: white;
}

.dropdown-content {
  position: absolute;
  z-index: 1000; /* Make sure it's on top of other content */
  width: 100%; /* Adjust width as necessary */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Optional: Adds shadow for better visibility */
}

.duration, .alert-link {
  font-weight: bold;
  font-size: 0.65em;
}

img.activity-img {
  display: block;
  width: auto;
  height: 450px;
}


.duration, .alert-link {
  font-weight: bold;
  font-size: 0.65em;
}

img.activity-img {
  display: block;
  width: auto;
  height: 450px;
}


.alert-link {
  color: red; /* Moved inline color style here */
}

/* .btn-floating.pulse {
  Your existing styles 
} */


/* RESPONSIVE STYLES */
@media only screen and (max-width: 992px) {
  .nav-wrapper {
    text-align: center;
  }
  nav .brand-logo {
    position: relative;
    margin-left: 0;
  }
}

/* FOOTER STYLES */
.page-footer {
  background-color: var(--secondary);
  color: var(--light);
  padding: 20px;
}
.footer-width {
  width: auto;
}

/* Utility Classes */
.show {
  display: block;
}
.hide {
  display: none;
}

/* Font Sizing and Styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  font-weight: 500;
}
h3 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.25rem;
}
